<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Marks Management</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<style>
	
	body{
	background: url("https://thumbs.dreamstime.com/b/male-doctor-hospital-background-holding-stethoscope-smiling-healthcare-service-general-practice-medical-career-concept-109300718.jpg");
background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;}
	</style>
</head>
<body>


<div class="container" >


<br><br><br><br><br><h1 style="color: red"> ADMIN LOGIN</h1>
<form class="col-md-4 col-md-offset-6" th:action="@{/userlogin}" th:object="${user}" method="post">

<label><h6>USER ID</h6></label>
<input type ="text" class="form-control" th:field="*{userid}"
required autofocus="autofocus">
<label><h6>PASSWORD</h6></label>
<input type ="text" class="form-control"  th:field="*{password}"
required autofocus="autofocus">
<br>
<button type="submit" class="btn btn-success">LOGIN</button>
</form>



</div>



</body>